# RewriteEngine on
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule . index.php [L]
# php_value  date.timezone  prc
# <IfModel mod rewritre.c>
# 	Options +FollowSymlinks
# 	RewriteEngine On
# 	RewriteCond %{REQUEST_FILENAME} !-d [NC]
# 	RewriteCond %{REQUEST_FILENAME} !-f [NC]
# 	RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
# </IfModel>
 <IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteRule ^(.*)$ index.php?/$1 [QSA,PT,L]
 </IfModule>

